{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": ["*.json", "*.md", "*.yml", "*.yaml", "*.xml"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
